{
   "title":"MirahezeBot",
   "templatedpages":{
      "about":{
         "template":"templates/about.html",
         "title":"About"
      },
      "contribs":{
         "template":"templates/contribs.html",
         "title":"Contributions"
      },
      "documentation":{
         "template":"templates/documentation.html",
         "title":"Documentation"
      },
      "index":{
         "template":"templates/index.html",
         "title":"Home",
         "canonical":"/"
      },
      "privacy":{
         "template":"templates/privacy.html",
         "title":"Privacy"
      },
      "terms":{
         "template":"templates/terms.html",
         "title":"Terms"
      }
   },
   "aliases":{
      "":"index",
      "docs":"documentation"
   },
   "directshow":{
      "robots.txt":"templates/robots.txt",
      "sitemap.xml":"templates/sitemap.xml",
      "css/common.css":"assets/common.css",
      "logo.png":"assets/logo.png",
      "favicon.png":"assets/favicon.png",
      "fosshost.png":"assets/fosshost.png"
   },
   "font-awesome-url":"Font-Awesome",
   "Font-awesome-path":"Font-Awesome",
   "canonical-prefix":"https://bots.miraheze.wiki/",
   "rendertemplates":{
      "navbar":"templates/navbar.html",
      "footer":"templates/footer.html",
      "head":"templates/head.html"
   }
}
