<!DOCTYPE html>
<html lang="en">
    {head}
    <body>
        {navbar}
        <div class="content">
            <h1>People whom have contributed to MirahezeBot</h1>
            <ul>
                <li><a href="http://meta.wikimedia.org/wiki/User:MacFan4000">MacFan4000</a> -System Administrator, Developer and Design Specialist</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:RhinosF1">RhinosF1</a> - Technical Lead</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Void">Voidwalker</a> - Developer and Sysadmin</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Zppix">Zppix</a> - Founder and former Head of Operations</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Reception123">Reception123</a> - Sysadmin</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Paladox">Paladox</a> - Assistant Developer and Advisor</li><br/>
                <li><a href="https://github.com/hasandiwan">Hasan Diwan</a> - Advisor and Reviewer</li>
                <li>tom29739 - Former Developer</li><br/>
                <li>SwisterTwister - Web Designer</li><br/>
                <li>Phantom42 - Web Designer and Former Developer</li><br/>
            </ul>
        </div>
    {footer}
    </body>
</html>
