<!DOCTYPE html>
<html lang="en">
    {head}
    <body>
        {navbar}
        <div class="content">
            <h1>People whom have contributed to MirahezeBot</h1>
            <ul>
                <li><a href="https://meta.miraheze.org/wiki/User:Zppix">Zppix</a> - Former Lead Operator / Founder </li><br/>
                <li>tom29739 - Developer</li><br/>
                <li>SwisterTwister - Web Designer and Friend.</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Reception123">Reception123</a> - Operator</li><br/>
                <li><a href="http://meta.wikimedia.org/wiki/User:MacFan4000">MacFan4000</a> - Lead Web Designer, Technical Writer and Operator</li><br/>
                <li>Phantom42 - Web Designer / Developer</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Paladox">Paladox</a> - Developer</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Void">Voidwalker</a> - Operator / Developer </li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:RhinosF1">RhinosF1</a> - Acting Lead Operator / Senior Developer </li><br/>
                <li><a href="https://github.com/hasandiwan">Hasan Diwan</a> - Code Reviewer and Developer </li>
            </ul>
        </div>
    {footer}
    </body>
</html>
