<div class="topnav" id="nav">
<img src="logo.png" alt="MirahezeBot Logo" width="48" height="48" style="float:left;vertical-align:middle;margin:0px 10px">
<a {indexlink}>Home</a>
<a {documentationlink}>Documentation</a>
<a {contribslink}>Contributors</a>
<a {aboutlink}>About</a>
<a {sourcecodelink}>Source Code</a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
<em class="fa fa-bars"></em></a>
<a href="javascript:void(0);" class="icon" onclick="changeStyleMode()">
<em class="fas fa-moon"</em></a>
</div>
